<body>
  <form>
    <h1>Reactive Form</h1>
    <div class="group">
      <input type="text" id="firstName" name="firstName" placeholder="First Name" required>

      <input type="text" id="lastName" name="lastName" placeholder="Last Name" required>
    </div>
    <input type="email" id="email" name="email" placeholder="Email" required>

    <div class="group">
      <input type="text" id="username" name="username" placeholder="Usernmae" required>

      <input type="date" id="dob" name="dob" required>
    </div>

    <button type="button" id="gen">Generate Username</button>

    <div class="Gender">
      <div><label for="gender">Gender:</label></div>
      <div class="genInputs">
        <div>
          <input type="radio" id="male" name="gender" value="male">
          <label for="male">Male</label>
        </div>
        <div>
          <input type="radio" id="female" name="gender" value="female">
          <label for="female">Female</label>
        </div>
        <div>
          <input type="radio" id="other" name="gender" value="other">
          <label for="other">Other</label>
        </div>
      </div>
    </div>


    <div class="adress">
      <input type="text" id="streetAddress" name="streetAddress" placeholder="Street Address" required>

      <div class="group">
        <select id="country" name="country" required>
          <option value="" hidden>Country</option>
          <option value="usa">United States</option>
          <option value="canada">Canada</option>
        </select>

        <input type="text" id="city" name="city" placeholder="City/Town" required>
      </div>

      <div class="group">
        <input type="text" id="region" name="region" placeholder="region (optional)" required>

        <input type="text" id="postalCode" name="postalCode" placeholder="Postal Code" required>
      </div>


    </div>

    <button type="submit">Submit</button>
  </form>
</body>