<body>
  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <h1>Reactive Form</h1>
    <div class="group">
      <div>
        <input type="text" placeholder="First Name" formControlName="firstname">
        <small *ngIf="reactiveForm.get('firstname').invalid 
                && reactiveForm.get('firstname').touched">*name isrequired</small>
      </div>
      <div>
        <input type="text" placeholder="Last Name" formControlName="lastname">
        <small *ngIf="reactiveForm.get('lastname').invalid 
                && reactiveForm.get('lastname').touched">*last name is required</small>
      </div>
    </div>

    <div class="email">
      <input type="email" placeholder="Email" formControlName="email">
      <small *ngIf="reactiveForm.get('email').invalid
               && reactiveForm.get('email').touched">*Email is not valid</small>
    </div>


    <div class="group">
      <div class="username"><input type="text" placeholder="Usernmae" formControlName="username"></div>
      <div class="dob"><input type="date" id="dob" name="dob" formControlName="dob"></div>
    </div>

    <button type="button" id="gen">Generate Username</button>

    <div class="Gender">
      <div><label for="gender">Gender</label></div>
      <div class="genInputs">
        <div>
          <input type="radio" value="male" formControlName="gender">
          <label for="male">Male</label>
        </div>
        <div>
          <input type="radio" value="female" formControlName="gender">
          <label for="female">Female</label>
        </div>
        <div>
          <input type="radio" value="other" formControlName="gender">
          <label for="other">Other</label>
        </div>
      </div>
    </div>


    <div class="adress" formGroupName="address">
      <label for="">Addresss</label>
      <input class="address" type="text" placeholder="Street Address" formControlName="street">

      <div class="group">
        <select formControlName="country">
          <option value="georgia">Georgia</option>
          <option value="usa">United States</option>
          <option value="canada">Canada</option>
        </select>

        <input type="text" placeholder="City/Town" formControlName="city">
      </div>

      <div class="group">
        <input type="text" placeholder="region (optional)" formControlName="region">

        <input type="text" placeholder="Postal Code" formControlName="postal">
      </div>

      <small *ngIf="reactiveForm.get('address').invalid && reactiveForm.get('address').touched">*Fill all required fields</small>
    </div>

    <div formArrayName="skills">
      <input  style="width: 400px; margin-bottom: 5px;" type="text" placeholder="Add skill..." 
       *ngFor="let control of reactiveForm.get('skills')['controls']; let i = index" [formControlName] = "i">
    </div>

    <button type="submit" value="submit" [disabled]="reactiveForm.invalid">Submit</button>
  </form>
</body>